:root {
    --flamingo: #EF2E00;
    --pizazz: #FDB800;

    --background1: #000000;
    --background2: rgba(255, 255, 255, 0.05);
    --background3: rgba(255, 255, 255, 0.10);
    --background4: #121212;
    --grd-background: radial-gradient(circle, #fdba0060 0%, transparent 50%);
    --highlight-gradient: linear-gradient(90deg, #Ef2e00, #Fdb800);
    --highlight-gradient2: linear-gradient(90deg, #Fdb800, #Ef2e00);

    --font-primary: #FFFFFF;
    --font-secondary: #CCCCCC;
    --font-gray: gray;
    --font-accent: #FDB800;
    --font-highlight: #EF2E00;

    --line-accent: #FF8C00;

    --button-primary-bg: #EF2E00;
    --button-primary-text: #FFFFFF;
    --button-primary-hover-bg: #FF4500;
    --button-primary-hover-text: #FFFFFF;

    --button-secondary-bg: #FDB800;
    --button-secondary-text: #000000;
    --button-secondary-hover-bg: #FFD700;
    --button-secondary-hover-text: #000000;

    --button-ghost-bg: transparent;
    --button-ghost-border: #EF2E00;
    --button-ghost-text: #EF2E00;
    --button-ghost-hover-bg: rgba(255, 255, 255, 0.1);
    --button-ghost-hover-text: #FFFFFF;
}

/* General Styles */
body {
    background-color: var(--background1);
    color: var(--font-primary);
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Navigation Bar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 100;
    background: transparent;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;
}

.nav-logo {
    width: 100px;
    height: auto;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s ease;
}

.nav-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 30px;
    background-color: var(--background3);
    padding: 20px;
    border-radius: 8px;
    width: 200px;
}

.nav-menu-item {
    position: relative;
    padding: 10px 15px;
    color: var(--font-primary);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.95rem;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-menu-item:hover {
    color: var(--pizazz);
    transform: scale(1.1);
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100%);
    left: 0;
    background-color: var(--background4);
    border-radius: 8px;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    z-index: 100;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    padding: 10px 20px;
    color: var(--font-secondary);
    text-decoration: none;
    display: block;
    font-size: 0.7rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    color: var(--font-accent);
    background-color: var(--hover-bg);
}

/* Hamburger Button */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 200;
}

.hamburger span {
    width: 100%;
    height: 4px;
    background-color: var(--font-primary);
    border-radius: 4px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {

    .nav-menu {
        display: none;
    }

    .nav-menu.active {
        display: flex;
    }

    .dropdown {
        text-align: center;
    }

    .dropdown-menu {
        position: static;
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .dropdown:hover .dropdown-menu {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .hamburger span {
        width: 100%;
        height: 4px;
        background-color: var(--font-primary);
        border-radius: 4px;
        transition: all 0.3s ease;
    }
}

/* ========================================= */

.footer {
    width: 80%;
    margin: auto;
    background: var(--background2);
    padding: 0px 10%;
}

.footer-upper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-upper .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
}

.footer-upper .contact .logo-img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

.footer-upper .contact .book-call-btn {
    padding: 10px 20px;
    background-color: var(--button-primary-bg);
    color: var(--button-primary-text);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-upper .contact .book-call-btn:hover {
    background-color: var(--button-secondary-hover-bg);
}

.footer-upper .service-list,
.footer-upper .social-links {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.footer-upper .service-list h3,
.footer-upper .social-links h3 {
    font-size: 1.2em;
    color: var(--pizazz);
}

.footer-upper ul {
    list-style: none;
    padding: 0;
}

.footer-upper li {
    margin: 5px 0;
}

.footer-upper img {
    width: 30px;
    height: 30px;
}

.service-list li {
    text-decoration: none;
    color: grey;
    transition: color 0.3s;
}

.service-list li:hover {
    color: white;
}

.social-links li:hover {
    transform: scale(1.1);
}

.divider {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px auto;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 0.9em;
    width: 60%;
    margin: auto;
}

.footer-bottom .footer-link {
    color: var(--pizazz);
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-bottom .footer-link:hover {
    color: #530b8b;
}

.footer-bottom div {
    text-align: center;
    margin: 10px 0;
}

.footer-bottom button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: var(--pizazz);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.footer-bottom button:hover {
    background-color: #FF8C00;
    color: var(--font-primary);
    transform: scale(1.1);
}


@media (max-width: 768px) {


    .footer-upper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-upper .contact {
        margin-bottom: 20px;
    }

    .footer-upper .contact .logo-img {
        width: 100px;
        height: 100px;
    }

    .footer-upper .service-list,
    .footer-upper .social-links {
        margin-bottom: 20px;
        align-items: center;
    }

    .footer-upper h3 {
        font-size: 1rem;
    }

    .footer-upper ul {
        padding: 0;
    }

    .footer-upper li {
        margin: 5px 0;
        font-size: 0.9rem;
    }

    .footer-upper img {
        width: 25px;
        height: 25px;
    }

    .social-links ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 0.8rem;
        width: 100%;
    }

    .footer-bottom .footer-link {
        margin: 5px 0;
    }

    .footer-bottom button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .footer-upper .contact .logo-img {
        width: 80px;
        height: 80px;
    }

    .footer-upper li {
        font-size: 0.8rem;
    }

    .footer-upper img {
        width: 20px;
        height: 20px;
    }

    .footer-bottom button {
        font-size: 0.8rem;
        padding: 6px 12px;
    }
}